@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Jersey+15&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000415;
}

.footer,
.header {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #000c3d;
}

.workHistory,
.aboutMe {
  background-color: #000c3d;
  max-width: 700px;
  font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
}

/* light mode switch */

.sunMenu,
.sun {
  width: 24px;
  height: 24px;
}

#menuToggleSwitch,
#toggleSwitch {
  background-color: #000415;
  width: 60px;
  height: 30px;
  border: 3px solid #f7fafc;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
}

#menuToggleCircle,
#toggleCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f7fafc;
  transition: left 0.3s ease;
}

#menuToggleSwitch.active,
#toggleSwitch.active {
  background-color: #f7fafc;
  border: 3px solid #000415;
}

#menuToggleSwitch.active #menuToggleCircle,
#toggleSwitch.active #toggleCircle {
  left: 32px;
  background-color: #000415;
}

/* Light Mode */

body.light-mode {
  background-color: #f7fafc;
  color: black;
}

body.light-mode .header {
  background-color: #f7fafc;
  color: #000415;
  border-bottom: 1px solid #000415;
}

body.light-mode .topTextCarousel {
  color: #000415;
}

body.light-mode .footer {
  background-color: #f7fafc;
  color: #000415;
  border-top: 1px solid #000415;
}

body.light-mode .aboutMe {
  background-color: #f7fafc;
  border: 3px solid black;
  color: black;
}

body.light-mode .workHistory {
  background-color: #f7fafc;
  border: 3px solid #0f172a;
  color: #0f172a;
}

body.light-mode .navBar {
  background-color: #f7fafc;
  color: #000415;
  border-bottom: 1px solid #000415;
}

body.light-mode .cardContainer > div {
  border: rgb(51, 51, 51) solid 3px;
}

body.light-mode .lightMenu {
  background-color: #f7fafc;
  color: #000415;
  border: 1px solid #000415;
}

body.light-mode .lightClose {
  color: #000415;
}

.topTextCarousel {
  font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
}

.menuLink,
.cardButton {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.portfolio {
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}

/* Card carousell on main page */

.cardContainer {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
}

/* Default card styles */
.cardContainer > div {
  position: absolute;
  width: 270px;
  height: 380px;
  background-color: #262626;
  border: #f7fafc solid 3px;
  transition: transform 0.5s ease, scale 0.5s ease, z-index 0.5s ease;
}

.cardContainer img {
  width: 100%; /* Scale the image to the container width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Crop the image to fill the container */
  width: 255px; /* Optional: Limit max width */
  height: 295px; /* Optional: Limit max height */
}

/* Specific card positions */

/* Center Card */
.current {
  scale: 1;
  z-index: 100;
  transform: translateX(0);
}

.rightMiddle {
  filter: brightness(40%);
  scale: 0.9;
  z-index: 90;
  transform: translateX(150px);
}

.leftMiddle {
  filter: brightness(40%);
  scale: 0.9;
  z-index: 90;
  transform: translateX(-150px);
}

.rightEdge {
  filter: brightness(40%);
  scale: 0.8;
  z-index: 80;
  transform: translateX(300px);
}

.leftEdge {
  filter: brightness(40%);
  scale: 0.8;
  z-index: 80;
  transform: translateX(-300px);
}

.sliderWrapper img {
  pointer-events: none; /* Ensure they don't block pointer events */
  user-select: none; /* Prevent text/image selection */
}

/* Prevent text selection on buttons */
.sliderWrapper button,
a {
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For older IE/Edge */
}

/* indicator background color */

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: #011257 2px solid;
}

.bg-white-indicator {
  background-color: #f7fafc;
  scale: 1.7;
}

.bg-black-indicator {
  background-color: #000415;
  scale: 1.3;
}

/* Light animation for buttons styling */
.light {
  position: absolute;
  top: -11px; /* Adjust to make the light appear outside the button */
  left: -2px;
  right: -2px;
  bottom: -11px;
  border-radius: 6px;
  background: linear-gradient(
    70deg,
    #4f01df,
    #00ffff,
    #4f01df
  ); /* Glowing gradient */
  background-size: 200%;

  animation: move-around 2s linear infinite;
}

/* Light animation effect */
@keyframes move-around {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.hamburgerMenu {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.hamburgerMenu.open {
  transform: translateX(0);
  opacity: 1;
  animation: moveMenu 0.5s ease-in-out;
}

.hamburgerMenu.close {
  transform: translateY(-100%);
  opacity: 0;
  animation: closeMenu 0.5s ease-in-out;
}

@keyframes moveMenu {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes closeMenu {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Breakpoints for mobile */

@media (max-width: 640px) {
  .current {
    scale: 0.8;
  }

  .rightMiddle {
    scale: 0.7;
  }

  .leftMiddle {
    scale: 0.7;
  }

  .rightEdge {
    scale: 0.6;
  }

  .leftEdge {
    scale: 0.6;
  }
}

@media (max-width: 387px) {
  .current {
    scale: 0.7;
  }

  .rightMiddle {
    scale: 0.6;
  }

  .leftMiddle {
    scale: 0.6;
  }

  .rightEdge {
    scale: 0.5;
  }

  .leftEdge {
    scale: 0.5;
  }

  .indicatorLight {
    margin-top: -60px;
  }
  .topTextCarousel {
    text-align: center;
  }

  .header {
    font-size: 16px;
  }

  #menu-toggle,
  #menu-close {
    width: 20px;
    height: 20px;
  }

  .aboutMeheader,
  .workHistoryHeader {
    font-size: 16px;
  }

  .aboutMeText,
  .workHistoryText,
  .mail {
    font-size: 13px;
  }
  .lightMenu {
    padding: 40px;
  }
}
