@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.font-primary {
  font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
}

.font-secondary {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Center Card */
.current {
  scale: 1;
  z-index: 100;
  transform: translateX(0);
}

.rightMiddle {
  filter: brightness(40%);
  scale: 0.9;
  z-index: 90;
  transform: translateX(150px);
}

.leftMiddle {
  filter: brightness(40%);
  scale: 0.9;
  z-index: 90;
  transform: translateX(-150px);
}

.rightEdge {
  filter: brightness(40%);
  scale: 0.8;
  z-index: 80;
  transform: translateX(300px);
}

.leftEdge {
  filter: brightness(40%);
  scale: 0.8;
  z-index: 80;
  transform: translateX(-300px);
}

.sliderWrapper img {
  pointer-events: none; /* Ensure they don't block pointer events */
  user-select: none; /* Prevent text/image selection */
}

/* Prevent text selection on buttons */
.sliderWrapper button,
a {
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For older IE/Edge */
}

/* indicator background color */

.bg-white-indicator {
  background-color: #f7fafc;
  scale: 1.4;
}

.bg-black-indicator {
  background-color: #000415;
  scale: 1.4;
}

/* Light animation for buttons styling */
.light {
  position: absolute;
  top: -11px; /* Adjust to make the light appear outside the button */
  left: -2px;
  right: -2px;
  bottom: -11px;
  border-radius: 6px;
  background: linear-gradient(
    70deg,
    #4f01df,
    #00ffff,
    #4f01df
  ); /* Glowing gradient */
  background-size: 200%;

  animation: move-around 2s linear infinite;
}

/* Light animation effect */
@keyframes move-around {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.hamburgerMenu {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.hamburgerMenu.open {
  transform: translateX(0);
  opacity: 1;
  animation: moveMenu 0.5s ease-in-out;
}

.hamburgerMenu.close {
  transform: translateY(-100%);
  opacity: 0;
  animation: closeMenu 0.5s ease-in-out;
}

@keyframes moveMenu {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes closeMenu {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Breakpoints for mobile/ scale cards smaller */

@media (max-width: 640px) {
  .current {
    scale: 0.8;
  }

  .rightMiddle {
    scale: 0.7;
  }

  .leftMiddle {
    scale: 0.7;
  }

  .rightEdge {
    scale: 0.6;
  }

  .leftEdge {
    scale: 0.6;
  }
}

@media (max-width: 387px) {
  .current {
    scale: 0.7;
  }

  .rightMiddle {
    scale: 0.6;
  }

  .leftMiddle {
    scale: 0.6;
  }

  .rightEdge {
    scale: 0.5;
  }

  .leftEdge {
    scale: 0.5;
  }
}
