@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu,
.score,
#startBtn,
#gameBoard {
  background: linear-gradient(50deg, #000000, #333333);
}

.menu,
.score,
.timer,
#startBtn {
  font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 320px) {
  #gameBoard {
    scale: 70%;
  }
}

@media (max-width: 375px) {
  #gameBoard {
    scale: 90%;
  }
}

@media (max-width: 425px) {
  #gameBoard {
    scale: 90%;
  }
}



