@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(50deg, #000000, #333333);
  position: relative;
  animation: glow 2s infinite;
  box-shadow: 0 0 15px 5px transparent;
  transition: box-shadow 0.5s ease;
  outline: 4px solid rgba(26, 18, 146, 0.322);
  z-index: 0;
}

.score1 {
  background: linear-gradient(50deg, #000000, #333333);
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
  border: 1px solid;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.ghost-tetromino {
  border: 1px solid rgba(211, 211, 211, 0.616);
  box-shadow: inset 3px 3px 7px rgba(255, 255, 255, 0.267);
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(50deg, #000000, #333333);
  outline: 2px solid white;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}

.leaderboard {
  background: linear-gradient(50deg, #000000, #333333);
}

.leaderboard li {
  padding: 10px;
  font-weight: 500;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 5px;
}

.MovementMenu {
  background: linear-gradient(50deg, #000000, #333333);
}

.button-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.menu2,
.menu,
.gameEnd,
.nextLevelButton,
.scoreText,
.levelText,
.timeText,
#start {
  font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
}

.tetromino-falling-fast {
  transition: transform 0.2s linear;
}

.tetromino-trail {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: inherit;
  animation: fadeTrail 0.5s forwards;
}

@keyframes fadeTrail {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.full-row {
  animation: blink 0.4s linear 2;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.hit {
  animation: blink 0.2s linear 1;
}

@keyframes blink {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.levelCompleted {
  animation: explode 3s forwards;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.slide-from-left,
.slide-from-right {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide-from-left {
  animation-name: slide-from-left;
  transform: translateX(-100%);
}

.slide-from-right {
  animation-name: slide-from-right;
  transform: translateX(100%);
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100%); /* Alkaa näytön oikealta puolelta */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Liikkuu keskelle */
    opacity: 1;
  }
}

/* Breakpoint for mobile */

@media (max-width: 320px) {
  .mobileGameBoard {
    scale: 90%;
    margin-top: -20px;
  }
  .mobileTopBar {
    scale: 100%;
  }
}

@media (min-width: 320px) {
  .mobileGameBoard {
    scale: 90%;
    margin-top: -20px;
  }
  .mobileTopBar {
    scale: 100%;
  }
}

@media (min-width: 375px) {
  .mobileGameBoard {
    scale: 115%;
    margin-top: 55px;
  }
  .mobileTopBar {
    scale: 110%;
    margin-top: 5px;
  }
}

@media (min-width: 425px) {
  .mobileGameBoard {
    scale: 130%;
    margin-top: 100px;
  }
  .mobileTopBar {
    scale: 125%;
    margin-top: 15px;
  }
}

@media (min-width: 640px) {
  .mobileGameBoard {
    scale: 100%;
    margin-top: 0px;
  }
  .mobileTopBar {
    scale: 100%;
    margin-top: 0px;
  }
}
